/* common classes */
.highlight {color: $highlight-color;}
.dark-bg {background-color: $dark-bg;color: $white-color;}
.dark-bg h1, .dark-bg h2, .dark-bg h3, .dark-bg h4, .dark-bg h5, .dark-bg .h1, .dark-bg .h2, .dark-bg .h3, .dark-bg .h4, .dark-bg .h5 {color: $white-color;}
.second_bg {background-color: $second-bg;}
._required {color: $important-color;}
.mb_0 {margin-bottom: 0px;}
.mt_0 {margin-top: 0px;}
.padding_0 {padding: 0px;}
.clear {display: block;clear: both;}
.clearfix::after {content: "";display: table;clear: both;}
.text_center {text-align: center;}
.text_right {text-align: right;}
.text_left {text-align: left;}
._uppertext {text-transform: uppercase;}

._inline_block {display: inline-block;vertical-align: top;}

._flex_between,
._flex_start,
._flex_center {display: flex;flex-wrap: wrap;}

._flex_between {justify-content:space-between;margin:auto;}
._flex_start {justify-content:flex-start;}
._flex_center {justify-content:center;}

._hidden {display: none;}