@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700,700i&subset=cyrillic,cyrillic-ext,latin-ext');

@import '../../node_modules/bootstrap/scss/bootstrap-reboot.scss';
@import 'include/custom-bootstrap.scss';
@import '../../node_modules/bootstrap/scss/bootstrap-grid.scss';

/* text colors */
$body-color: #000;
$header-color: #000;
$footer-color: #000;
$second-color: #000;
$important-color: #ff0000;
$link-color: #007bff;
$link-color-hover: #0056b3;
$highlight-color: #cc6699;
$black-color: #000;
$white-color: #fff;
$gray-color: #6c757d;
$pink-color: #cc6699;
$blue-color: #3e65af;
$green-color: #00FF75;
$decrp-color: #525252;
$placeholder-color: #dbdbdb;
$border-color: #545454;
$border-color-2: #474747;

/* bg colors */
$body-bg: #fff;
$second-bg: #f8f9fa;
$dark-bg: #707070;
$header-bg: #f8f9fa;
$footer-bg: #e9ecef;
$shadow-bg: rgba(211, 74, 142, 0.4);

/* borders */
$border-color: $white-color;
$border-width: 2px;
$border-color-link: #5447CA;
$border-width-link: 3px;
$border-radius: 10px;

/* links */
$a-decoration: none;
$a-decoration-hover: underline;

/* H1... */
$h-font-style: 'Roboto', sans-serif;
$h-font-weight: 700;
$h-font-color: $black-color;

/* forms */
$input-border: $border-color solid $border-width;
$input-border-radius: 3px;
$input-bg: $white-color;
$input-padding: 7px 16px;
$button-padding: 9px 16px;
$button-border: $border-color solid $border-width;
$textarea-resize: none;
$forms-label-color: #a2a2a2;

/* other */
$p-margin: 0 0 16px;
$default-half-spacing: 8px;
$default-spacing: 16px;
$default-spacing-2: 24px;
$default-double-spacing: 32px;
$default-double-spacing-2: 48px;
$opacity-body-text: .64;
$opacity-body-text-2: .48;
$font-weight-bold: 600;
$site-block-box-shadow: 5px 5px 15px rgba(2, 0, 10, 0.5), -5px -5px 25px rgba(117, 108, 191, 0.15);

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  background: $body-bg;
  color: $body-color;
}
html,body{height: 100%;min-height: 100%;min-width: 320px;}

p {margin: $p-margin;}
p.error {color:$important-color;}

a {text-decoration: $a-decoration;color: $link-color;transition: all 0.3s ease 0s;}
a:focus {outline: none;}
a:hover {text-decoration: $a-decoration-hover;color: $link-color-hover;outline: none;}
a img {border: 0;outline: none;transition: all .3s;}
a:hover img {opacity: 0.85;outline: none;}

b, strong {font-weight: 700;}

.h1, .h2, .h3, .h4, .h5 {display: block;}
h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
	font-weight: $h-font-weight;
	color: $h-font-color;
	font-family: $h-font-style;
}
h1,.h1 {
  font-size: 30px;
  line-height: 32px;
	margin: 20px 0px;
}
h1:first-child,.h1:first-child {margin-top:0;}
h2,.h2 {
	font-size: 28px;
	line-height: 30px;
	margin: 20px 0px;
}
h3,.h3 {
	font-size: 26px;
	line-height: 28px;
	margin: 20px 0px;
}
h4,.h4 {
	font-size: 20px;
	line-height: 22px;
	margin: 20px 0px;
}
h5,.h5 {
	font-size: 18px;
	line-height: 20px;
	margin: 20px 0px;
}
h6,.h6 {
	font-size: 16px;
	line-height: 18px;
	margin: 20px 0px;
}

table {width: 100%;border-collapse: collapse;}
table td {vertical-align: top;}

// custom scroll
// ::-webkit-scrollbar {width: 6px;border-radius: 5px;}/* width */
// ::-webkit-scrollbar-button {display: none;}/* button */
// ::-webkit-scrollbar-thumb {background: $white-color;border-radius: 5px}/* Handle */
// ::-webkit-scrollbar-thumb:hover {background: $second-color;}/* Handle on hover */
// ::-webkit-scrollbar-track {background: #363636;}/* Track */
// ::-webkit-scrollbar-track-piece {background: #363636;}/* The track NOT covered by the handle. */
// ::-webkit-scrollbar-corner {background: #363636;}/* Corner */
// ::-webkit-resizer {background: $dark-bg;}/* Resizer */

.box-shadow {
  -webkit-box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow:    0px 5px 40px 0px rgba(0, 0, 0, 0.1);
  box-shadow:         0px 5px 40px 0px rgba(0, 0, 0, 0.1);
}
/* end default */

.page-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
main {
  flex: 1 0 auto;
  display: flex;
}
.container-site-padding {
	padding-left: $default-spacing;
	padding-right: $default-spacing;
}

@import "include/header.scss";
@import "include/nav.scss";
@import "include/forms.scss";
@import "include/footer.scss";
@import "include/common.scss";

@import "media.scss";