/* common classes */
.text-bg {
  background: linear-gradient(270deg, #FFE486 0%, #AAFFAA 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.dark-bg {background-color:$dark-bg;color:$white-color;}
.dark-bg {
  h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5,
  input, label, select, textarea, p {color: $white-color;}
}
.second-bg {background-color:$second-bg;}
.border-gray {border:1px solid $gray-color;}
.border-radius-0 {border-radius: 0;}
.highlight {color:$highlight-color;}
._required {color:$important-color;}
.mb_0 {margin-bottom:0px;}
.mt_0 {margin-top:0px;}
.padding_0 {padding:0px;}
.clear {display:block;clear:both;}
.clearfix::after {content:"";display:table;clear:both;}
._inline_block {display:inline-block;vertical-align:top;}
._flex_between,
._flex_start,
._flex_center {display:flex;flex-wrap:wrap;}
._flex_between {justify-content:space-between;margin:auto;}
._flex_start {justify-content:flex-start;}
._flex_center {justify-content:center;}
._hidden {display:none;}
.text-justify  {text-align:justify !important;}
.text-center   {text-align:center;}
.text-right    {text-align:right;}
.text-left     {text-align:left;}
.text-wrap     {white-space:normal !important;}
.text-nowrap   {white-space:nowrap !important;}
.text-lowercase  {text-transform:lowercase !important;}
.text-uppercase  {text-transform:uppercase !important;}
.text-capitalize {text-transform:capitalize !important;}
.font-weight-light   {font-weight:300 !important;}
.font-weight-normal  {font-weight:400 !important;}
.font-weight-medium  {font-weight:500 !important;}
.font-weight-bold    {font-weight:700 !important;}
.font-italic         {font-style:italic !important;}
.text-decoration-none {text-decoration:none !important;}
.text-break {word-break:break-word !important;overflow-wrap:break-word !important;}
.text-reset {color:inherit !important;}
.width-100 {width: 100%;}
.height-100 {height: 100%;}